name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8.1]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run Docker script
        run:
          ./docker_run.sh
      - name: build docker image
        run: docker build -t digits -f docker/Dockerfile .
      - name: run tests from docker
        run: docker run digits